.profileStyles {
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.img {
    width: 200px;
}
.nickName {
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.descriptionBlock {
    padding: 10px;
}
.contacts {
    padding-left: 10px;
}