.header {
    grid-area: h;
    background-color: darkgrey;
}

.header_logo {
    height: 100px;
    width: 217px;
}

.header_login {
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}
.header_login a {
    color: black;
}