.header {
    background-color: #d84a1b;
    width: 100%;
    font-size: 25px;
}
.header_menu {
    padding-top: 17px;
}
.login_logout_block {
    padding-top: 17px;
}
.header a {
    color: black;
    margin: 20px;
}
.header a:hover {
    color: white;
}
.header_logo {
    height: 75px;
    width: 165px;
}
.your_login {
    font-weight: bold;
    text-decoration: underline;
    color: black;
}